# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Doubt
    # "@testing-library/jest-dom": "^5.16.5",
    # "@testing-library/react": "^13.4.0",
    # "@testing-library/user-event": "^13.5.0",
    # "mongoose": "^8.1.1",
    # "react-dom": "^18.2.0",
    # "react-slick": "^0.30.2",
    # "slick-carousel": "^1.8.1"